# EXAMPLE FILE; DO NOT AMEND

PORTALS_DEV_ACCESS_TOKEN=
PORTALS_STAGING_ACCESS_TOKEN=
PORTALS_PROD_ACCESS_TOKEN=

A2CPS_DEV_ACCESS_TOKEN=
A2CPS_STAGING_ACCESS_TOKEN=
A2CPS_PROD_ACCESS_TOKEN=

3DEM_DEV_ACCESS_TOKEN=
3DEM_PROD_ACCESS_TOKEN=

DESIGNSAFE_DEV_ACCESS_TOKEN=
DESIGNSAFE_STAGING_ACCESS_TOKEN=
DESIGNSAFE_PROD_ACCESS_TOKEN=

LCCF_STAGING_ACCESS_TOKEN=
LCCF_PROD_ACCESS_TOKEN=

CIPP_DEV_ACCESS_TOKEN=
CIPP_PROD_ACCESS_TOKEN=

APCD_DEV_ACCESS_TOKEN=
APCD_PROD_ACCESS_TOKEN=

OIDC_STAGING_ACCESS_TOKEN=
OIDC_PROD_ACCESS_TOKEN=

USER_CREDENTIAL_PRIVATE_KEY=
USER_CREDENTIAL_PUBLIC_KEY=
